.btn {
  width: 50%;
  height: 50px;
  border-radius: 25px;
  background-color: #04FC8C;
  color: #fff;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #1CE58A;
  cursor: pointer;
  position: fixed;
  bottom: 24px;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  &:disabled {
    background-color: #758B81;
    cursor: not-allowed;
  }
}