.singleSelect {
  &__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__options {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    margin-bottom: 8px;
  }

  &__optionImg {
    width: 50%;
    height: auto;
  }

  &__optionType {
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 600;
  }

  &__checked {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__checkedImg {
    width: 100%;
    height: auto;
  }
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}