.overlay {
  position: absolute;
  top: 80px;
  left: 0;
  min-width: 100vw;
  height: calc(100vh - 80px);
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: #fff;
  opacity: 0.95;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;

  @media (max-width: 1024px) {
    top: 50px;
    height: calc(100vh - 50px);
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__text {
    font-size: 24px;
    font-weight: 600;
    padding: 0 16px;
    text-align: center;
    margin: 0;
    height: 20%;
  }
}